.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 91.71429rem;
    padding: .5rem 1.5rem;
}

.categoryView-img {
    padding: 0 0 1rem;
}

.categoryView-title {
    font-size: 20px;
    margin: 7px 0;
    text-align: center;
    text-transform: uppercase;
}

.page-content p {
    text-align: center;
}

.sidebarBlock {
    margin-left: auto;
    margin-right: auto;
    max-width: 91.71429rem;
    padding: 1rem 1.5rem;
    background-color: {{theme_settings.navPages-subMenu-backgroundColor}};
    text-align: center;
    border-top: 1px solid {{theme_settings.navPages-subMenu-separatorColor}};
}

.sidebarBlock-heading {
    margin: .78571rem 0;
}

.navList {
    list-style: none;
    padding: 0;
    margin-left: 0;
}

.navList-action {
    color: {{theme_settings.navPages-subMenu-color}};
    font-size: 15px;
    padding: 3px 0;
    display: block;
}

.actionBar-section .form-field {
    background-color: {{theme_settings.input-bg-color}};
    border: 1px solid {{theme_settings.input-border-color}};
    border-radius: 4px;
    overflow: hidden;
    display: inline-block;
}

.actionBar-section .form-label {
    color: {{theme_settings.form-label-font-color}};
    font-size: 13px;
    line-height: 2.14286rem;
    margin-bottom: 0;
    padding-left: 0.78571rem;
    display: inline-block;
}

.actionBar-section .form-select {
    color: {{theme_settings.input-font-color}};
    height: 2.14286rem;
    display: inline-block;
}

.productGrid {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.productGrid .product {
    width: 50%;
    padding: 1rem 1.5rem;
}

.productList {
    list-style: none;
    margin: 0;
    padding: 0;
}

.productList .product {
    padding: 1rem 1.5rem;
}

.listItem-rating,
.listItem-brand,
.listItem-title {
    margin: .5rem 0;
}

.listItem-title {
    font-size: 15px;
}

.listItem-price {
    margin-bottom: 1rem;
}


.card-figure {
    margin: 0;
    padding: 0;
    position: relative;
}

.card-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.card-body {
    text-align: center;
}

.card-text,
.card-title {
    margin: 5px 0;
}

.card-text {
    color: {{theme_settings.card-title-color}};
    font-size: 14px;
    font-weight: normal;
}

.card-title {
    font-size: 15px;
}

.card-title a {
    text-decoration: none;
}

.rating--small {
    display: block;
    margin-bottom: 10px;
}

.sale-sash {
    background: {{theme_settings.sale_tag_backgroundColor}};
    color: {{theme_settings.sale_tag_text_color}};
    font-size: 15px;
    padding: 1px 5px;
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    z-index: 10;
}

.pagination {
    margin: 2rem 1.5rem 2.28571rem;
}

.pagination-list {
    display: block;
    margin: 0;
    text-align: center;
    list-style: none;
    padding: 0 80px;
}

.pagination-item {
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 15px;
    position: relative;
}

.pagination-link {
    display: block;
    padding: 3px 10px;
}

.pagination-item--current {
    border-color: {{theme_settings.container-border-global-color-base}};
}

.pagination-item--previous {
    position: absolute;
    left: 1rem;
}

.pagination-item--next {
    position: absolute;
    right: 1rem;
}
