.amp-footer {
    background-color: {{theme_settings.footer-backgroundColor}};
    color: {{theme_settings.footer-textColor}};
    text-align: center;
    border-top: 1px solid {{theme_settings.container-border-global-color-base}};
}

.amp-footer a {
    color: {{theme_settings.footer-linkColor}};
    text-decoration: none
}

.amp-footer a:hover {
    color: {{theme_settings.footer-linkColorHover}};
}

.amp-footer-list {
    margin: 0;
    list-style-type: none;
}

.amp-footer-list li {
    padding: 3px 0;
}

address {
    font-style: normal;
}

article {
    overflow: hidden;
}
