<div class="relatedProduct">
    <div class="relatedProduct-image">
        <a href="{{product.url}}">
            <img class="productView-image--default lazyload"
             data-sizes="auto"
             src="{{cdn 'img/loading.svg'}}"
             data-src="{{getImage product.main_image 'productgallery_size' (cdn theme_settings.default_image_product)}}"
             alt="{{product.main_image.alt}}" title="{{product.main_image.alt}}" data-main-image>
         </a>
     </div>

     <div class="relatedProduct-body">
         {{#if product.brand.name}}
             <p class="brandName">{{product.brand.name}}</p>
         {{/if}}

         <h4 class="card-title" {{#if schema}}itemprop="name"{{/if}}>{{product.title}}</h4>

         {{#each product.custom_fields}}
             {{#if name '===' 'Blog Post Description'}}
                 <div class="relatedProduct-description">
                     {{{trim value}}}
                 </div>
             {{/if}}
         {{/each}}

         <div class="productView-price">
             {{#or customer (if theme_settings.restrict_to_login '!==' true)}}
                 {{> components/products/price price=product.price schema_org=schema}}
             {{else}}
                 {{> components/common/login-for-pricing}}
             {{/or}}
         </div>

         <a href="{{product.url}}" class="button button--primary quickview" data-product-id="{{product.id}}">{{lang 'blog.shop_now'}}</a>
     </div>
</div>
