<h1 class="another-mattress-title">Feel your comfort zones</h1>

<div class="homepage-comfort-section row">

   <div class="col-lg-4 col-md-4 col-sm-12"> 
        <div class="comfort-section">
          <img src="https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/medium.png?t=1583979472&_ga=2.55597291.1539354705.1583974543-2022119561.1571639426">
            <h3>MEDIUM</h3>
            <p>Perfect for lightweight and side sleepers, these mattresses make great companions for kids and teens.</p>
        </div>
    </div>
    
    <div class="col-lg-4 col-md-4 col-sm-12"> 
        <div class="comfort-section">
           <img src="https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/medium-firm.png?t=1583979473&_ga=2.47977703.1539354705.1583974543-2022119561.1571639426">
            <h3>MEDIUM-FIRM</h3>
            <p>Most couples will surely take great pleasure in sleeping on our medium-firm mattresses. Designed for back sleepers</p>
            </div>
        </div>
   
    
    <div class="col-lg-4 col-md-4 col-sm-12"> 
        <div class="comfort-section">
           <img src="https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/firm.png?t=1583979473&_ga=2.47977703.1539354705.1583974543-2022119561.1571639426">
             <h3>FIRM</h3>
            <p>Stomach sleepers will greatly benefit from sleeping on firm mattresses. Also created for people with back pain.</p>
        </div>
    </div>
    
</div>
