.featuredCategories {
    @include u-listBullets("none");
    @include grid-row($behavior: "nest");
    font-size: 0;
    margin-bottom: -1.5rem;
}

.featuredCategory {
    @include grid-column(6, $float: none);
    display: inline-block;
    font-size: fontSize("base");
    margin: 0 auto spacing("single");
    overflow: hidden;
    position: relative;
    text-align: center;

    a {
        display: block;
    }

    @include breakpoint("small") {
        min-height: 80px;

        .featuredCategoriesColumns--3 &,
        .featuredCategoriesColumns--5 &,
        .featuredCategoriesColumns--6 & {
            width: 33.33333%;
        }
    }

    @include breakpoint("medium") {
        .featuredCategoriesColumns--3 &,
        .featuredCategoriesColumns--6 & {
            width: 33.33333%;
        }

        .featuredCategoriesColumns--4 & {
            width: 25%;
        }

        .featuredCategoriesColumns--5 & {
            width: 20%;
        }
    }

    @include breakpoint("large") {
        min-height: 100px;
        width: 25%;

        .featuredCategoriesColumns--2 & {
            width: 50%;
        }

        .featuredCategoriesColumns--3 & {
            width: 33.33333%;
        }

        .featuredCategoriesColumns--5 & {
            width: 20%;
        }

        .featuredCategoriesColumns--6 & {
            width: 16.66666%;
        }
    }
}

.featuredCategory-name {
    background-color: stencilColor("carousel-bgColor");
    color: stencilColor("carousel-title-color");
    display: inline-block;
    font-family: $secondary-font-family;
    font-size: fontSize("smallest");
    font-style: $secondary-font-style;
    margin: auto;
    padding: spacing("single");
    text-decoration: none;
    text-transform: $secondary-font-transform;
    width: 100%;

    @include breakpoint("small") {
        font-size: fontSize("small");
        background-color: rgba(stencilColor("carousel-bgColor"),0.7);
        bottom: spacing("single");
        left: 0;
        position: absolute;
        right: 0;
        width: 80%;
    }

    @include breakpoint("medium") {
        padding: spacing("half");
    }

    @include breakpoint("large") {
        padding: spacing("single") spacing("double");
        width: 70%;
    }
}
