// do some math
$value_of_grid_swatch_size : stencilString("grid_swatch_option_size");
$position_of_grid_x : str-index($value_of_grid_swatch_size, "x");
$first_grid_value : str-slice($value_of_grid_swatch_size, 0, $position_of_grid_x - 1);
$second_grid_value : str-slice($value_of_grid_swatch_size, $position_of_grid_x + 1);

.card-swatches {
    .form-option-variant--color,
    .form-option-variant--pattern {
        height: $second_grid_value +"px";
        width: $first_grid_value +"px";
    }

    .form-option--multi {
        width: $first_grid_value+"px";
    }

    .color--duotone {
        width: 50%;
    }

    .color--tritone {
        width: 33%;

        &:last-child {
            width: 34%;
        }
    }
}

// do some math
$value_of_swatch_size : stencilString("swatch_option_size");
$position_of_x : str-index($value_of_swatch_size, "x");
$first_value : str-slice($value_of_swatch_size, 0, $position_of_x - 1);
$second_value : str-slice($value_of_swatch_size, $position_of_x + 1);

.productView-options {
    .form-option-variant--color,
    .form-option-variant--pattern {
        height: $second_value +"px";
        width: $first_value +"px";
    }

    .form-option--multi {
        width: $first_value+"px";
    }

    .color--duotone {
        width: 50%;
    }

    .color--tritone {
        width: 33%;

        &:last-child {
            width: 34%;
        }
    }
}

.card-swatches,
.card-sizes {
    .form-option {
        cursor: auto;

        &:hover {
            border-color: stencilColor("input-border-color");
        }

        &:last-child {
            margin-right: 0;
        }
    }
}

.swatches--round {
    .form-option-swatch {
        border-radius: 50%;

        > .form-option-variant {
            border-radius: 50%;
        }

        .form-option--multi {
            border-radius: 50%;
            overflow: hidden;
        }
    }

    .form-option-expanded {
        border-radius: 50%;

        > .form-option-image {
            border-radius: 50%;
        }
    }
}

.form-option-expanded {
    bottom: calc(100% + 5px);
    top: auto;
}
