<article class="card {{#if alternate}}card--alternate{{/if}}">
    <figure class="card-figure">
        {{#if demo}}
            <div class="card-img-container">
                <img class="card-image lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="{{getImage image 'gallery_size' (cdn theme_settings.default_image_product)}}" alt="{{image.alt}}" title="{{image.alt}}">
            </div>
        {{else}}
            <a href="{{url}}">
                <div class="card-img-container">
                    <img class="card-image lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="{{getImage image 'gallery_size' (cdn theme_settings.default_image_product)}}" alt="{{image.alt}}" title="{{image.alt}}">
                </div>
            </a>
        {{/if}}
    </figure>
    <div class="card-body">
        {{#if brand.name}}
            <p class="card-text brandName" data-test-info-type="brandName">{{brand.name}}</p>
        {{/if}}
        <h4 class="card-title">
            {{#if demo}}
                {{name}}
            {{else}}
                <a href="{{url}}">{{name}}</a>
            {{/if}}
        </h4>

        <div class="card-text" data-test-info-type="price">
            {{#or customer (if theme_settings.restrict_to_login '!==' true)}}
                {{> components/products/price price=price}}
            {{else}}
                {{> components/common/login-for-pricing}}
            {{/or}}
        </div>
    </div>
</article>
