{{#if theme_settings.hero_width '===' 'contain'}}<div class="container hero">{{/if}}
    <section class="heroStoryboard show--{{length carousel.slides}}">
        {{#each carousel.slides}}
        <a href="{{url}}">
            <div class="heroCarousel-slide slide--{{@index}} {{#if ../theme_settings.homepage_stretch_carousel_images}}heroCarousel-slide--stretch{{/if}}"
                style="background-image: url({{image}})">
                <img class="heroCarousel-image lazyload" src="{{cdn 'img/loading.svg'}}" data-src="{{image}}" alt="{{alt_text}}" title="{{alt_text}}"
                 {{#if image_width}}width="{{image_width}}"{{/if}} {{#if image_height}}height="{{image_height}}"{{/if}} />
                {{#if heading}}
                    {{> components/f/hero/carousel-content show_background=true}}
                {{else}}
                    {{#if text}}
                        {{> components/f/hero/carousel-content show_background=true}}
                    {{else}}
                        {{#if button_text}}
                            {{> components/f/hero/carousel-content show_background=false}}
                        {{/if}}
                    {{/if}}
                {{/if}}
            </div>
        </a>
        {{/each}}
    </section>
{{#if theme_settings.hero_width '===' 'contain'}}</div>{{/if}}
