<!DOCTYPE html>
<html class="no-js" lang="{{ locale_name }}">
    <head>
        <title>{{ head.title }}</title>
        {{{ resourceHints }}}
        {{{ head.meta_tags }}}
    <meta name="google-site-verification" content="en_9BaePmnjiC1wa94L6I1Zq69WDierJ1_ZmbqCqnbk" />
        {{{ head.config }}}
        {{#block "head"}} {{/block}}

        <link href="{{ head.favicon }}" rel="shortcut icon">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="ft-name" content="{{theme_settings.n}}">
        <meta name="ft-version" content="{{theme_settings.v}}">
        <meta name="ft-edition" content="{{theme_settings.e}}">

        <script>
            // Change document class from no-js to js so we can detect this in css
            document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
        </script>
        
         <script> 
            (function e(){var e=document.createElement("script");e.type="text/javascript",e.async=true,e.onload=myInit,e.src="//cdn-stamped-io.azureedge.net/files/widget.min.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})();
            
        function myInit(){     
        StampedFn.init({ 
        apiKey: 'pubkey-2L5A8636KNO175w7kxJ92V55UDvpz3', 
        storeUrl: 'icon-sleep.mybigcommerce.com'
        });
        } 
        </script> 
        
        <script async onload="myInit()" type="text/javascript" src="https://cdn1.stamped.io/files/widget.min.js"></script>
        <link rel="stylesheet" type="text/css" href="//cdn-stamped-io.azureedge.net/files/widget.min.css">

        {{ getFontsCollection }}
        {{{stylesheet '/assets/css/theme.css'}}}

        {{{head.scripts}}}
        {{{head.rsslinks}}}

        {{inject 'themeSettings' theme_settings}}
        {{inject 'genericError' (lang 'common.generic_error')}}
        {{inject 'maintenanceMode' settings.maintenance}}
        {{inject 'urls' urls}}
        {{inject 'secureBaseUrl' settings.secure_base_url}}
        {{inject 'template' template}}
        {{inject 'enableAnimations' theme_settings.enable_animations}}
        {{{snippet 'htmlhead'}}}
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-180255211-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
        
          gtag('config', 'UA-180255211-1');
        </script>

    </head>
    <body{{#or theme_settings.show_global_banner theme_settings.enable_gradients}} class="{{#if theme_settings.show_global_banner}}has-globalBanner{{/if}}{{#if theme_settings.enable_gradients}} gradient{{/if}}"{{/or}}>
       
       
        {{{snippet 'header'}}}
        <svg data-src="{{cdn 'img/icon-sprite.svg'}}" class="icons-svg-sprite"></svg>

        {{#and settings.privacy_cookie settings.is_eu_ip_address}}
            {{> components/common/cookie}}
        {{/and}}

        {{> components/common/header }}
<div class="pg-top-banner" style="position: relative;"><img src="https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/create-account-banner.jpg?t=1599463396&_ga=2.233840023.847040776.1599437166-1432688951.1599009154" alt="" />
<div class="faqs-abs-content">
<h1>{{head.title}}</h1>
</div>
</div>
        {{> components/common/body }}
        {{#if theme_settings.enable_simple_footer}}
            {{> components/f/footer/simple-footer }}
        {{else}}
            {{> components/common/footer-custom }}
        {{/if}}

        <script>window.__webpack_public_path__ = "{{cdn 'assets/dist/'}}";</script>
        <script src="{{cdn 'assets/dist/theme-bundle.main.js'}}"></script>

        <script>
            // Exported in app.js
            window.stencilBootstrap("{{page_type}}", {{jsContext}}).load();
        </script>

        {{{footer.scripts}}}
        {{{snippet 'footer'}}}
    </body>
</html>
