{{#if product.related_products}}
    <section class="content productView-upsell">
        <h2 class="page-heading"><span>{{lang 'products.related_products'}}</span></h2>
        {{> components/products/carousel products=product.related_products columns=6 show_wishlist=settings.show_wishlist show_rating=settings.show_product_rating}}
    </section>
{{/if}}

{{#if product.similar_by_views}}
    <section class="content productView-upsell">
        <h2 class="page-heading"><span>{{lang 'products.similar_by_views'}}</span></h2>
        {{> components/products/carousel products=product.similar_by_views columns=6 show_wishlist=settings.show_wishlist show_rating=settings.show_product_rating}}
    </section>
{{/if}}
